extends _layout
block content
  div(id="main")
    a(href="/project/#{object[0].name}")
      div #{object[0].description}
    img(src="/uploads/#{object[0].mainImage}", alt="main image")
  div(id="projects")
    each item in object
      div
        a(href="/project/#{item.name}")
          div= item.name
          img(src="/uploads/#{item.thumbnailImage}", alt="thumbnail image")