extends _layout
append scripts
  script(type="text/javascript" src="/node_modules/masonry-layout/dist/masonry.pkgd.min.js")
  script(type="text/javascript" src="/node_modules/infinite-scroll/dist/infinite-scroll.pkgd.min.js")
  //- script(type="text/javascript" src="/js/infinite-scroll.pkgd.min.js")
  script(src="/js/projectPreview.js")
  script(src="/js/projectListLayout.js")
  script(src="/js/projectHover.js")

append styles
  link(href="/stylesheets/projectListLayout.css" rel="stylesheet" )
block content
  div#projectPreview
    div#projectPreviewImageBox
      img#projectPreviewImage(src="/uploads/#{projects[0].images.image}", alt="#{projects[0].name}")
    a(href="/project/#{projects[0].name}")
      div#projectPreviewCaption.caption #{projects[0].name}<br>#{projects[0].date}
  div#projectsWrap
    include project_list