doctype html
html
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no")
    meta(property="og:title" content="Eun-hye")
    meta(property="og:site_name" content="Eun-hye")
    meta(property="og:type" content="website")
    meta(property="og:url" content="http://45.76.55.231:3000/main")
    meta(property="og:image" content="http://45.76.55.231:3000/image/thumbnail.jpg")
    meta(property="og:description" content="Eun-hye's page")
    link(rel='stylesheet', href='/stylesheets/style.css')
    title 메인페이지
  body
    h1
      a(href="/main") Main Page
    h3
      a(href="/") home
    ul
      each fileName in fileList
        li
          a(href='/main/'+fileName)= fileName
    div(class='content')
      div
        h3 Name
        div= fileName
      div
        h3 Content
        div= fileContent

    div(class='button')
      a(href="/main/new") 메뉴등록

    div(class='gallery')
      div(class='wrap')
        -for(var i=0; i<20; i++)
          img(src="http://45.76.55.231:3000/image/thumbnail.jpg")
          div= i
          div #{i}