extends _layout
append scripts
  script(type="text/javascript" src="/js/wookmark.js")
  script(src="/js/projectLayout.js")
  script(src="/js/projectHover.js")
  script(src="/js/projectPaginate.js")
append styles
  link(href="/stylesheets/wookmark.css" rel="stylesheet" )
block content
  div#projectPreview
    img(src="/uploads/#{projects[0].images.image}", alt="#{projects[0].name}")
    a(href="/project/#{projects[0].name}")
      div.caption #{projects[0].name}<br>#{projects[0].date}
  div#projects(role="main")
    ul#container.tiles-wrap.animated(data-latest_image="#{projects[0].images.image}" data-latest_name="#{projects[0].name}" data-latest_description="#{projects[0].description}" data-latest_date="#{projects[0].date}")
      each item in projects
        li
          img(src="/uploads/#{item.images.image}" alt="#{item.images.name}")
          p= item.name
    - if(totalPageNum > 1){
    div#more2(data-next="2" data-max="#{totalPageNum}") more..
    - }
    
        